@mixin tr {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}

.data {
  .table {
    margin-top: 50px;
    position: relative;
    left: 20rem;
    top: 0;
    width: auto;
    .table-dark {
      background-color: black;
      th {
        //   width: 200px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 40px;
        margin-left: 40px;
        color: white;
      }
    }
    .id {
      background-color: azure;
      padding: 30px;
      .name {
        .link {
          @include tr();
        }
      }
      .email {
        .link {
          @include tr();
        }
      }
      .contact {
        .link {
          @include tr();
        }
      }
      .class {
        .link {
          text-align: center;
          @include tr();
        }
      }
      .roll {
        .link {
          text-align: center;
          @include tr();
        }
      }
    }
  }
}
